<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="G:/Web Automation Course 12-6-23/Swag Labs Automation/SwagLabsAutomationWithPom">
        <packages><package name="com.swagLabs.*"></package></packages>
    </test>
</suite>